<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091647982652-6emoem905l88hcgi9ntbabloicnu8136.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091647982652-6emoem905l88hcgi9ntbabloicnu8136</string>
	<key>API_KEY</key>
	<string>AIzaSyBy8-yNqStTX0-OA6xCPtb7KHugD120-Q0</string>
	<key>GCM_SENDER_ID</key>
	<string>1091647982652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aleksandardukic.flutterCourse</string>
	<key>PROJECT_ID</key>
	<string>flutter-course-kiki</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-course-kiki.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091647982652:ios:ae676d7b9751ec0bc48739</string>
</dict>
</plist>